<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoDatos.Properties.Settings.cadenaConeccion_DB_BasePruebas"
            connectionString="Data Source=MONNAACI-18;Initial Catalog=DB_BasePruebas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AccesoDatos.Properties.Settings.cadenaConeccion_Lavoraciones_Monnaaci_p"
            connectionString="Data Source=ec2-52-52-139-21.us-west-1.compute.amazonaws.com,1433;Initial Catalog=Lavoraziones_Monnaaci_P;Persist Security Info=True;User ID=reports;Password=Cloud@123"
            providerName="System.Data.SqlClient" />
        <add name="AccesoDatos.Properties.Settings.cadenaConeccion_Pruebas_Lavoraziones"
            connectionString="Data Source=ec2-52-52-139-21.us-west-1.compute.amazonaws.com,1433;Initial Catalog=Pruebas_Lavoraziones;Persist Security Info=True;User ID=reports;Password=Cloud@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>